---
import Scatter from "./Scatter.astro";

const links = [
    { name: "Email /", href: "" },
    { name: "Github /", href: "https://github.com/professor-12" },
    { name: "LinkedIn /", href: "https://linkedin.com/in/emmanueladewale" },
    { name: "Blog", href: "/projects" },
];
---

<header class="w-full mt-4 flex items-center justify-between py-2">
    <div>
        <Scatter
            text="Big dev"
            display="inline"
            size="xs"
            repel={10}
            hoverColor="orange"
        />
    </div>
    <div class="">
        <nav class="flex gap-4 justify-center items-center px-6 py-3">
            {
                links.map((link) => (
                    <a href={link.href}>
                        <Scatter
                            as="span"
                            text={link.name}
                            display="inline"
                            color="#ffffff"
                            hoverColor="orange"
                            size="xs"
                            repel={10}
                        />
                    </a>
                ))
            }
        </nav>
    </div>
</header>
